@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat&family=Roboto&display=swap');

body {
    font-family: Barlow;
    max-width: 1920px;
}

h1 {
    font-weight: 800;
    color: #2600ff
}
h2{
    font-weight: 600;
    color: #2600ff
}
h3{
    font-weight: 400;
    color: #2600ff
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
    width: 100%;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
    color:#2600ff;
}
.active{
    border-bottom: 1px solid #2600ff;
    font-weight: bold;
}

#menu a:link {
    text-decoration: none;
}

#menu a:visited {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #2600ff;
}

a{color:#2600ff;
}

a:active {
    font-weight: bold;
}

#menu {
    font-size: 110%;
    font-family: barlow;
    font-weight: 600;
    list-style-type: none;
    letter-spacing: 4px;
    float:right;
    color:#2600ff
}

#menu li {
    float: left;
    margin-right: 30px;
}

/* hero image and text*/

#hero-image {
    height: 350px;
    width: 100%;
    background: url("../images/bikeworkbench.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.6;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 350px;
    width: 100%;
    overflow: hidden;
    position: relative
}

/* creates the fade-in for the hero image */

#hero-outer @keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Barlow;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 250px;
    height: 150px;
    padding-top: 0;
    padding-left: 10px;
    background-color: #2600ffb3;
    bottom: 30px;
    right: 50px;
    position: absolute;
    border-radius: 15px;
}
#cover-text h3{
    color: #ffffff;

}
.card-body{
    min-height: 175px;
}
.card-image-top {
    text-align: center;
    object-fit: cover;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

hr {
    border-top: 1px solid #2600ff;
    width: 100%;
    margin: 5px
}
.why-us{
    text-align: center;
    padding: 20px 10px;
    color: #2600ffe6;
    font-size: large;
    font-family:barlow;
    margin-bottom: 50px;
}
#why-us p{
    font-size: larger;
}

#why-us-header{
    padding: 20px 20px;
    color: #2600ffe6;
    text-transform: uppercase;
    font-weight:bold;
}
.left-about-heading {
    width: 100%;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
    text-align: center;
}

.right-about-heading {
    width: 100%;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
    text-align: center;

}
#right-about{
    margin-bottom: 50px;
}
#services div {
    width: 100%;
    clear: both;
    height: 150px;
    border-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #fff;
}

footer {
    background-color: #000000;
    padding: 5px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 0;
    color: #777777;
}

.table {
    table-layout: auto;
    width: 75%;
}

/*styles for service page*/

.services {
    margin: 50px 25px;
}
#caption{
    display:table-caption;
    caption-side: top;
    font-size: large;
    font-weight: 400;
    }
.service-header{
    margin:auto;
    padding: 25px;
    font-weight:600;
    text-align: center;
    text-transform: uppercase;
    max-width: 900px;
}
.services-table{
    margin:auto;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}
.center{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 150px;
}
.servicelist{
    margin-bottom: auto;
    padding-bottom: 150px;      
}
.table{
    table-layout:auto;
    font-size:x-large;
}
th{text-align: center;}
td{text-align: center;
}
td a{font-size: x-large;}
#services{
    margin-left: 25px;
    margin-right: 25px;
}
/* styling for the book now page*/

#booknow{
    margin-bottom:150px;
    
}
#book-now-section{
    margin-bottom:150px;
    margin-left:10px;
}

#booknowheader{
    text-align:left;
}
form{
    width:100%;
    padding-bottom: 150px;
    }

form label{
    text-align: left;
}
input{
    width: 66%;
    padding:10px;
    border: 2px solid #2600ff;
    border-radius: 4px;
    max-width: 75%;
    min-width: 310px;
}

input:focus {
    border: 3px solid #d9ff00;
}

select {
    width: 66%;
    padding: 10px;
    border: 2px solid #2600ff;
    border-radius: 4px;
    background-color: #f1f1f1;
    max-width: 75%;
    min-width: 310px;
}

.button{            
    background-color:#2600ff;
    border: none;
    color: #ffffff;
    padding: 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0.3125rem 0.625rem #888888;
    margin-top: 1.875rem;
}

        /* styling for contact page */

#map{
    margin-bottom: 25px;
}
.map{
    max-width: 75%;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:25px;

}
.contact-us {
    text-align: center;
    padding: 20px 10px;
    color: #2600ffe6;
    font-size: large;
    font-family: barlow;
    margin-bottom: 15px;
}
.contact{
    margin-bottom:100px;
    padding-bottom: 0px;
}
#contact-us-header {
    padding: 20px 20px;
    color: #2600ffe6;
    text-transform: uppercase;
    font-weight: bold;
}
#location-icon{
    text-align: center;
        color: #2600ffe6;
        font-size: large;
        font-family: barlow;
        }
#contact-types{
    padding-bottom:50px;
}
.phone {
    width: 100%;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
    text-align: center;
}

.email {
    width: 100%;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
    text-align: center;
}

.coffee {
    width: 100%;
    line-height: 25px;
    clear: both;
    text-align: center;
}
