@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat&family=Roboto&display=swap');

body {
    font-family: Barlow;
    max-width: 1920px;
}

h1 {
    font-weight: 800;
    color: #2600ff
}
h2{
    font-weight: 600;
    color: #2600ff
}
h3{
    font-weight: 400;
    color: #2600ff
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
    width: 100%;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
    color:#2600ff;
}
.active{
    border-bottom: 1px solid #2600ff;
    font-weight: bold;
}

#menu a:link {
    text-decoration: none;
}

#menu a:visited {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #2600ff;
}

a{color:#2600ff;
}

a:active {
    font-weight: bold;
}

#menu {
    font-size: 110%;
    font-family: barlow;
    font-weight: 600;
    list-style-type: none;
    letter-spacing: 4px;
    float:right;
    color:#2600ff
}

#menu li {
    float: left;
    margin-right: 30px;
}

/* hero image and text*/

#hero-image {
    height: 350px;
    width: 100%;
    background: url("../images/bikeworkbench.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.6;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 350px;
    width: 100%;
    overflow: hidden;
    position: relative
}

/* creates the fade-in for the hero image */

#hero-outer @keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Barlow;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 300px;
    height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: #2600ffb3;
    bottom: 30px;
    right: 50px;
    position: absolute;
    border-radius: 15px;
}
#cover-text h3{
    color: #ffffff;

}

.card-image-top {
    text-align: center;
    object-fit: cover;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}


hr {
    border-top: 1px solid #2600ff;
    width: 100%;
    margin: 5px
}
#why-us{
    text-align: center;
    padding: 30px 10px;
    color: #2600ffe6;
    font-size: large;
    font-family:barlow;
    
}

#why-us-header{
    padding: 40px 20px;
    color: #2600ffe6;
    text-transform: uppercase;
    font-style: bold;
}
.left-about-heading {
    width: 100%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    text-align: center;
}

.right-about-heading {
    width: 100%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    text-align: center;

}


#services div {
    width: 100%;
    clear: both;
    height: 150px;
    border-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #fff;
    
}

footer {
    background-color: #000000;
    padding: 5px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 0;
    color: #777777;
}

.table {
    table-layout: auto;
    width: 75%;
}

/*styles for service page*/

.services {
    margin: 50px 25px;
}
#caption{
    display:table-caption;
    caption-side: top;
    font-size: large;
    font-weight: 400;
    
}
.service-header{
    margin:auto;
    padding: 25px;
    font-weight 600px;;
    text-align: center;
    text-transform: uppercase;
    max-width: 900px;
}
.servicelist{
    padding: 50px 25px;
   
}
#services{
    margin-left: 25px;
    margin-right: 25px;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 450px and up)
@media (min-width: 450px) {
    ...
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    ...
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    ...
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    ...
}